<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.lizardbyte.sunshine</string>
  <key>CFBundleName</key>
  <string>Sunshine</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>Sunshine needs the ability to capture your system's audio for streaming to clients..</string>
</dict>
</plist>
